<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<title>View Account</title>
<style>
</style>
</head>
<body>

	<div>
		<tr>
			<div class="col-sm-8" align="center">
				<div class="panel-body" align="center">
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th>Account Number</th>
								<th>Account Holder Name</th>
								<th>Branch</th>
								<th>Currency</th>
								<th>Available Balance</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="account : ${listaccount }">
								<td th:text="${account.accountnumber}">Account Number</td>
								<td th:text="${account.accountname}">Account Holder Name</td>
								<td th:text="${account.branch}">Branch</td>
								<td th:text="${account.currency}">Currency</td>
								<td th:text="${account.availablebalance}">Available Balance</td>
							</tr>

						</tbody>
					</table>

				</div>

			</div>
			<a th:href="@{'/'}" class="list-group-item list-group-item-action">Back</a>
	</div>

</body>
</html>